@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo {
  margin: 1rem 3rem;
  width: fit-content;
  z-index: 101;
  display: flex;
}

header.headerWrap {
  background-color: var(--bp-dark-gray);
  height: 100%;
  display: flex;
  align-items: center;
  width: 15%;
  flex-direction: column;
  position: fixed;
  z-index: 100;
}

.adminnamebox{
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
}

.adminnamebox p {
  color : var(--bp-white);
}

section.MainNavSection {
  height: 80%;
  width: 100%;
}

.TopCategoriesBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TopCategories{
  margin : 1rem 1rem;
  display: flex;
  color : var(--bp-white);
  text-align: center;
  justify-content: space-around;
}

.TopCategories img{
  width: 20%;
}

.TopCategories button{
  width: 60%;
  border: none;
  background-color: var(--bp-dark-gray);
  color: var(--bp-white);
  font-size: 0.9rem;
}

/* .megaMenu {
  position: absolute;
  left: 0px;
  top: 180px;
  width: 13%;
  height: 26vh;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
} */

.megaMenu .logo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* .megaMenu.show {
  left: 230px;
  overflow: hidden;
}

p.megaMenuItem{
  width: 100%;
  text-align: center;
  margin: 0.8rem 0;
  padding-right: 3rem;
} */

button.backbtn{
  border: none;
  background-color: var(--bp-white);
  width: 15%;
  display: flex;
  align-items: center;
  /* margin: 1rem 1rem 0 1rem; */
}

.topMenu{
  width: 100%;
  display: flex;
  height: 5rem;
  padding: 1rem 0.5rem;
}

p.topMenuTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Add the styles for the megaMenu */
.megaMenu {
  display: none;
  color: var(--bp-white);
  background-color: var(--bp-dark-gray);
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  text-align: center;
  /* animation: slide-fade-in-dropdown-animation 4s ease; */
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.show {
  display: block;
  animation-name: slide-fade-in-dropdown-animation;
}

.hide {
  animation-name: slide-fade-out-dropdown-animation;
}

.megaMenuItem {
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.megaMenuItem:hover {
  background-color: #f0f0f0;
}
