.adminBox {
  background-color: var(--bp-white);
  height: 30rem;
  overflow-y: scroll;
  display: flex;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.adminBox::-webkit-scrollbar {
  display: none;
}

.reporttop {
  background-color: var(--bp-gray);
  padding: 0 0.3rem;
}

.commentspage {
  width: 45%;
  height: 6rem;
  margin: 1rem 1rem;
}

.reportlist {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.reportbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 1rem;
}

.reporttxt {
  display: flex;
}

.reporttxt p {
  width: 50%;
}

.reportday {
  font-size: 17px;
}

.reportbtn {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.reportbtn button {
  width: 60%;
  margin: 0.2rem 0;
}

.reportcontent {
  width: 100%;
  overflow-y: scroll;
  margin: 0.3rem 0;
  height: 1.5rem;
}

.reportcontent::-webkit-scrollbar {
  display: none;
}
