.adminBox {
    background-color: var(--bp-white);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem 0.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .adminBox2 {
    background-color: var(--bp-white);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .webtoontext {
  border-bottom: 1px solid var(--bp-gray);
  height: 10%;
  width: 100%;
}

.webtoontext p {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
}

/* .webtoonBox {
  display: flex;
  width: 45%;
  border-bottom: 1px solid var(--bp-gray);
  padding: 1.6rem 1rem;
  flex-direction: column;
} */

.webtoonInfoWrap {
  width: 38%;
  display: flex;
  border-bottom: 1px solid var(--bp-gray);
  height: 15%;
  margin: 1rem 1rem;
  justify-content: center;
}

.ImgWrap {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
  margin: 0 1rem;
}

.ImgWrap img{
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.contentWrap {
  margin: 0;
  width: 50%;
  align-self: center;
}

  .contentWrap .option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.3rem 0;
  }
  
  .contentWrap p.title {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
  }
  
  /* .contentWrap p.episodetitle {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: 900;
  } */
  
  .contentWrap .author {
    margin-bottom: 0.4rem;
    color: var(--bp-font-gray);
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  .contentWrap .option .views {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
  }
  
  .contentWrap .option .views p.viewstxt {
    color: var(--bp-primary);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 0.3rem;
  }
  
  .contentWrap .option .likes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
  }
  
  .contentWrap .option .likes p.likestxt {
    color: var(--bp-secondary);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 0.3rem;
  }

  .webtoonButton {
    width: 10%;
    align-self: center;
  }
  
  /* .contentWrap p.option2 {
    width: fit-content;
    padding: 0.2rem 0.4rem;
    font-size: 0.5rem;
    font-weight: 400;
    background: var(--bp-secondary-glow);
    color: var(--bp-white);
    border-radius: 1.5rem;
    margin-bottom: 0.6rem;
    height: 1rem;
  } */
  
  /* .contentWrap p.viewmore {
    color: var(--bp-secondary);
    font-size: 0.8rem;
    font-weight: 600;
  } */

  footer.paginationfotter{
  height: 3%;
  width: 100%;
  align-self: flex-end;
  margin: 1rem 0;
  }